body,
html {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #e4d8d8;
}

.circle {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bgRetina {
  position: absolute;
  height: 50%;
  width: 70%;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
