@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.navbar {
  background-color: #fbfbfb; /* Change the background color as desired */
  color: rgb(0, 0, 0); /* Change the text color as desired */
  display: flex;
  align-items: center;
  height: 40px;
  padding: 4px;
  border-bottom: 2px solid #ccc; /* Add a gray line at the bottom */
}

.navbar-left {
  flex: 1;
}

.hamburger-button {
  font-size: 22px;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hamburger-button:hover {
  background-color: #555; /* Change the hover background color as desired */
  color: #fff; /* Change the hover text color as desired */
  transform: scale(0.7); /* Reduce the size by 10% on hover */
}

.navbar-logo {
  flex: 2;
  display: flex;
  justify-content: center;
}

.navbar-logo img {
  height: 25px; /* Adjust the height of the logo as needed */
}

.navbar-right {
  flex: 1;
  text-align: right;
}

.bold-text {
  padding-right: 20px;
  font-weight: 800;
  font-size: 18px; /* Adjust the font size as needed */
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

#color-box {
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#score {
  font-size: 18px;
  margin-bottom: 10px;
}

#progress {
  font-size: 18px;
  margin-bottom: 10px;
}

#leave-button {
  margin-top: 20px;
  background-color: #dc3545;
}

#options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
}

.option-button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.option-button:hover {
  background-color: #0056b3;
}

/* Add this CSS to your styles.css file */
#popup-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

#popup h2 {
  margin-top: 0;
}

#close-popup {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#close-popup:hover {
  background-color: #0056b3;
}

.circle {
  position: absolute;
  height: 15%;
  width: 15%;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bgRetina {
  position: absolute;
  height: 35%;
  width: 70%;
  top: 22.8%;
  left: 50%;
  transform: translate(-50%, -50%);
}
